@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "common";
@import "headerPage";



.bloc-section {
  margin: 0px auto;

  .bloc-text-container {
    padding-top: 113px;
    text-align: center;
    .text-container {
    padding: 0 20px;
    }
  }
  .bloc-full-container {
    width: 100%;
    position: relative;
    margin: 1% 0;

    .bloc-image {
    width: 100%;
    img {
        width: 100%;
        border-radius: 5px;
    }
    }
    .bloc-text {
    position: absolute;
    text-align: center;
    width: 80%;
    top: 42%;
    left: 50%;
    margin-left: -40%;
    }
    .bloc-text:after {
    clear: both;
    }
    .bloc-title {
    font-size: 1.14285714286rem;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
    height: 26px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    }
    .bloc-description {
    font-size: 2.214285714286rem;
    font-family: Helvetica, sans-serif;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    margin: 10px 0;
    }
  }

}

.home-hero-banner {
	width: 100%;
		img {
			width: 100%;
		}
}



// need to remove it
.category-tile {
    border: 1px solid white;
}

.half-height {
    min-height: 23.125em;

    @include media-breakpoint-down(sm) {
        min-height: 15.375em;
    }
}
